<!DOCTYPE html>
<html>
  <head>
    <title>Trampinginfo</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= stylesheet_pack_tag 'application' %>
    <%= javascript_pack_tag 'application' %>
    <%= javascript_pack_tag 'hello-world-bundle' %>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCqksFIA2Acd5W4N0X-qoDYczJRGUdby-g"></script>
  </head>

  <body class="<%= controller.controller_name %>-<%=controller.action_name%>">
    <%= render 'shared/navbar' %>
    <%= render 'shared/message' %>
    <%= yield %>
  </body>
</html>
